<%= form_for @rage, :html => {:multipart => true} do |f| %>
  <% if @rage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rage.errors.count, "error") %> prohibited this rage from being saved:</h2>

      <ul>
      <% @rage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @rage.user_id == @user_id %>
	  <div class="field">
	    <%= f.label :title %><br>
	    <%= f.text_field :title %>
	  </div>
	  <div class="field">
	    <%= f.label :description %><br>
	    <%= f.text_area :description %>
	  </div>
	  <div class="field">
	    <%= f.label :picture %><br>
	    <%= f.file_field :picture %>
	  </div>
	  <div class="field>
	   <%= f.label :dysfunction %><br>
	   <%= f.file_field :files, multiple: true %>
	  </div>
   <%= f.fields_for :proof_attachments do |p| %>
     <div class="field">
       <%= p.label :file %><br>
       <%= p.file_field :path, :multiple => true, :required => true ,name: "proof_attachments[path][]" %>
     </div>
   <% end %>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% end %>

