<p id="notice"><%= notice %></p>

<h1>Listing Rages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rages.each do |rage| %>
      <tr>
        <td><%= rage.title %></td>
        <td><%= rage.description %></td>
        <td><%= rage.picture %></td>
	<% if user_signed_in? %>
		<td><%= link_to 'Participate', participations_path(:rage_id => rage.id), method: :create %></td>
        <% if rage.state.to_s == 'draft'.to_s %>
            <td><%= link_to 'Publish', publish_rage_path(rage), data: { confirm: 'Are you sure?' } %></td>
        <% end %>
	<% end %>
	<% if @admin %>
		<td><%= link_to 'Show', rage %></td>
		<td><%= link_to 'Destroy', rage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rage', new_rage_path %>
