<p>
  <strong>Title:</strong>
  <%= @rage.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rage.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@rage.picture_url, :width => 600) if @rage.picture.present? %>
</p>

<% @proof_attachments.each do |p| %>
  <%= link_to 'Download ' + File.basename(URI(p.path_url).path), p.path_url %>
  <%= link_to "Edit proof attachment", edit_proof_attachment_path(p) %>
  <br>
<% end %>

<%= link_to 'Edit', edit_rage_path(@rage) %> |
<%= link_to 'Back', rages_path %>
