<h1>Listing my rages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rages.each do |rage| %>
      <tr>
        <td><%= rage.title %></td>
        <td><%= rage.description %></td>
        <td><%= rage.picture %></td>
	<% if user_signed_in? %>
		<td><%= link_to 'Show', rage %></td>
		<td><%= link_to 'Edit', edit_rage_path(rage) %></td>
		<td><%= link_to 'Destroy', rage, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% if rage.state.to_s == 'draft'.to_s %>
        <td><%= link_to 'Publish', publish_rage_path(rage), data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if rage.state.to_s == 'waitingAmelioration'.to_s %>
            <td><%= link_to 'Republish', publish_rage_path(rage), data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if rage.state.to_s == 'banned'.to_s %>
            <td>Cette rage a été bannie</td>
        <% end %>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New rage', new_rage_path %>
