<p id="notice"><%= notice %></p>

<h1>Listing Dysfunctions</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dysfunctions.each do |dysfunction| %>
      <tr>
        <td><%= dysfunction.picture %></td>
        <td><%= link_to 'Show', dysfunction %></td>
        <td><%= link_to 'Edit', edit_dysfunction_path(dysfunction) %></td>
        <td><%= link_to 'Destroy', dysfunction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dysfunction', new_dysfunction_path %>
